<ion-header>
  <ion-toolbar>
    <ion-title>
      Masculino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estatales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button (click)="goToEstatal('Asobal', 1)">
        <ion-ripple-effect></ion-ripple-effect>
        Asobal
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="goToEstatal('Div. Honor Plata M.', 2)">
        <ion-ripple-effect></ion-ripple-effect>
        División de Honor Plata
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="goToEstatal('Primera Estatal', 3)">
        <ion-ripple-effect></ion-ripple-effect>
        Primera Estatal
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gallegas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button (click)="mostrarModal('Primera Autonómica M.', 6)">
        <ion-ripple-effect></ion-ripple-effect>
        Primera Autonómica
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Segunda Autonómica M.', 7)">
        <ion-ripple-effect></ion-ripple-effect>
        Segunda Autonómica
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Div. Honor Juvenil M.', 8)">
        <ion-ripple-effect></ion-ripple-effect>
        División de Honor Juvenil
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Segunda Juvenil M.', 9)">
        <ion-ripple-effect></ion-ripple-effect>
        Segunda División Juvenil
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Div. Honor Cadete M.', 10)">
        <ion-ripple-effect></ion-ripple-effect>
        División de Honor Cadete
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Segunda Cadete M.', 11)">
        <ion-ripple-effect></ion-ripple-effect>
        Segunda División Cadete
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Div. Honor Infantil M.', 12)">
        <ion-ripple-effect></ion-ripple-effect>
        División de Honor Infantil
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="mostrarModal('Segunda Infantil M.', 20)">
        <ion-ripple-effect></ion-ripple-effect>
        Segunda División Infantil
        <ion-icon md="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>