<ion-header>
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button>
        <ion-ripple-effect></ion-ripple-effect>
        ksdalgnos
      </ion-item>
      <ion-item button>
        <ion-ripple-effect></ion-ripple-effect>
        ksdalgnos
      </ion-item>
      <ion-item button>
        <ion-ripple-effect></ion-ripple-effect>
        ksdalgnos
      </ion-item>
      <ion-item button>
        <ion-ripple-effect></ion-ripple-effect>
        ksdalgnos
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>